$breakpoint-mobile: 430px;
.layout {
  .header {
    display: none;
  }
  .main-container {
    display: flex;

    .content{
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      // overflow-y: auto;
      @media screen and (max-width: 400px) {
        // padding: 10px;
      }
      .main-title {
        color: rgb(215, 215, 215);
        background-color: #1a1a1a;
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        text-shadow: 2px 2px 4px rgb(158, 158, 158);
        padding: 10px 20px;
      }

      
    }

@media screen and (max-width: $breakpoint-mobile) {
  flex-direction: column;
  padding-bottom: 70px;
    }
  }

  .footer {
    display: none;
  }
}
