@import './global.scss';

.main-title {
  // color: rgb(235, 235, 235);
  // padding-left: 10px;
  // text-shadow: 2px 2px 4px black;
}
.card-container {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;  
  
  // gap: 10px;

  .card {
    width: 150px;
    height: 230px;
    padding: 10px;
    // width: 150px;
    // min-height: 250px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-bottom: 10px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      transform: translateY(-5px);
      transition: all 200ms ease-out;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      width: 45%;
    }

    p {
      text-shadow: 2px 2px 4px black;
      color: aliceblue;
    }

        .movie-title {
      font-weight: 600;
      margin-bottom: 10px;
    }
    .type, .year {
      font-size: 0.7rem;
      text-transform: uppercase;
    }
  }
}