@import './styles.scss';
@import './App.scss';


$purple: #6116c3;
$purpleDark: rgba(97, 22, 195, 0.3);
$white: #ffffff;
$whiteLight: rgba(255, 255, 255, 0.6);
$blackDark: rgba(0, 0, 0, 0.6);
$blackLight: rgba(0, 0, 0, 0.2);



.video-players {
  text-align: justify;
  padding-top: 10px;
  .player {
    .react-player-wrapper {
      position: relative;
      max-width: 100%;
      height: auto;
      
      video {
        width: 100%;
        // height: auto;
        border-radius: 10px;
        outline: none;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }

      .react-player {
        // position: absolute;
        // top: 0;
        // left: 0;
      }



    }
  }
}
