@import './styles.scss';
@import './App.scss';
$radius: 12px;
$lift-offset: -25px;
$shadow-blur: 0.15px;
$back-scale: 0.87;

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.check-section {
  display: flex;
  align-items: center;

  .check-section-proxy,
  .check-section-tv {
    display: flex;
    align-items: center;
    span {
      margin-right: 5px;
      opacity: .5;
    };

    &.checked {
      span {
        opacity: 1;
        color: #FFFFFF;
        background: #232323;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
      }
    }

    .inTv {
      width: 45px;
      padding: 2px;
      border-radius: 20px;
      margin-right: 10px;
      cursor: pointer;
      transition: all 300ms ease-out;
  
      &.checked {
        background-color: #0b9d1e;
      }
      
      &.unchecked {
        background-color: #494949;
      }
      
      .checked,
      .unchecked {
        width: 26px;
        height: 25px;
        margin: 1px;
        border-radius: 30px;
        background-color: #f4f4f4;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: all 200ms ease-out;
      }
      .checked {
        transform: translateX(13px);
      }
    }
  }
  
}


.movie-list {
  padding: 10px;
  // margin-top: 20px;
  text-align: justify;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  // flex-basis: 33%;
  .movie-card {
    width: 200px;
    height: 300px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* aspect-ratio: 2/3; */
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.045);
    border-radius: 10px;
    // overflow: hidden;
    overflow: visible;
    opacity: 0.7;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: all 200ms ease-in-out;


    // کارت پشت فقط برای سریال‌ها
    &.series-card {
      .card-back {
        position: absolute;
        top: $lift-offset;
        left: 0px;
        width: 100%;
        height: 100%;
        // border: 1px solid #49FF18;
        border-radius: $radius;
        background: var(--poster-url) center/cover no-repeat;

        transform: scale($back-scale);
        filter: brightness(0.5) blur($shadow-blur);
        z-index: 0;
        transition: all 0.3s ease;
      }

      // افکت hover روی کارت اصلی سریال
      &:hover {
        .card-back {
          transform: translateY(11px) scale($back-scale + 0.05);
        }
      }
    }



    @media screen and (max-width: $breakpoint-mobile) {
        width: 47%;
        height: calc(var(--find-movie-width) / 2 * 1.5);
    }

    &:hover {
      opacity: 1;
      transform: scale(1.03);
    }
    .movie-card-content{
      position: relative;
      
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;



      z-index: 1;
      border-radius: $radius;
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        // transform: translateY(-3px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
      }


      .video-name {
        margin: 4px;
        padding: 5px;
        font-size: 0.9rem;
        background-color: #ffffff1a;
        border-radius: 8px;
        height: auto;
        overflow-wrap: break-word;
        hyphens: auto;
        white-space: pre-wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: auto;
        -webkit-box-orient: vertical;
        text-shadow: 1px 1px 5px #000;
        background-color: #00000014;
        font-weight: bold;
        p {
          color: white;
        }
        .is-sub {
          color: yellow;
        }
        
      }

      .hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        width: 0;
      }

      .control-icon {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .previous-season, .next-season, .play {
        // position: absolute;
        // top: 50%;
        font-size: 2rem;
        color: rgb(197, 203, 129);
        opacity: 0.4;
        outline: none;
        cursor: pointer;
        z-index: 3;
        
        transition: opacity 200ms ease-in-out;
        
        &:hover {
          opacity: 0.8;
          color: rgb(254, 243, 31);
        }
      }
      
      .previous-season { }

      .play {
        // left: 50%;
        // transform: translate(-50%,-30%);
        text-align: center;
        font-size: 4rem;
        transition: all 300ms ease;

        &:hover {
          transform: scale(1.3);
        }
      }

      .next-season {
        // padding-right: 5px;
      }

      .edit-btn,
      .delete-btn {
        width: 50%;
        margin: 0;
        padding: 5px;
        color: white;
        // font-size: 1rem;
        opacity: 0.2;
        -webkit-transition: opacity 200ms ease-in-out;
        -moz-transition: opacity 200ms ease-in-out;
        -ms-transition: opacity 200ms ease-in-out;
        -o-transition: opacity 200ms ease-in-out;
        transition: opacity 200ms ease-in-out;
        &:hover {
          cursor: pointer;
          color: white;
          opacity: 0.6;
        }
      }

      .edit-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: rgb(68, 161, 91);
      }
      .delete-btn {
        background-color: rgb(161, 68, 86);
      }
    }
  }

  .series-card {
    position: relative;
    z-index: 2;
  }

}
