@import './styles.scss';
@import './App.scss';

.video-players {
  text-align: justify;
  padding-top: 10px;
  .player {
    .react-player-wrapper {
      position: relative;
      max-width: 100%;
      height: auto;
      
      video {
        width: 100%;
        border-radius: 10px;
        outline: none;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }

      .react-player {
        // position: absolute;
        // top: 0;
        // left: 0;
      }
    }
  }
}
