* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}


.container {
  margin: 10px;
    /* display: flex;
  flex-direction: column;
  text-align: center;
    */ width: 50%;
  
}

.videoPlayers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.players {
  width: 33%;
}

video{
  width: 90%;
  height: auto;
}

.player-container{
  width: 100%;
}
/* h1 {} */

.list {
  list-style-type: none;
}
.player-wrapper {
  width: 80%;
  /* height: auto; */
  /* position: relative; */
  /* padding-top: 56.25%; */
  /* 16:9 Aspect Ratio */
}

/* .react-player {
  position: absolute;
  top: 0;
  left: 0;
} */