/* InputSection.css */
.inputSection {
  padding: 0 10px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.input {
  display: flex;
  min-width: 280px;
  width: 100%;
  max-width: 700px;
  flex-direction: column;
}

.videoUrl {
  flex-grow: 1.2;
  font-size: 1.2rem;
  padding: 10px;
  outline: none;
  background-color: whitesmoke;
}

input[type=file] {
  color: rgb(72, 72, 72);
  background-color: rgb(241, 241, 241);
}

button {
  font-size: 1.2rem;
  outline: none;
  padding: 5px 10px;
  color: whitesmoke;
  background-color: rgb(75, 152, 162);
}

button:hover {
  opacity: 1;
}

.showInputSection {
  margin-right: 5px;
}

.addBtn {
  background-color: rgb(78, 224, 70);
  width: 40px;
  opacity: 0.8;
}

.clearBtn {
  background-color: rgb(255, 98, 50);
  width: 40px;
  opacity: 0.8;
}

span {
  color: whitesmoke;
}

.movieNameGuesses {
  padding-bottom: 10px;
}

.movieNameGuesses li.isSelected {
  padding-bottom: 10px;
  color: slategrey;
}

.movieNameGuesses button {
  
}

.isSelected {
  color: slategrey;
}

.movie {
  padding: 10px;
  color: whitesmoke;
}

.movie ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.movieName {
  background-color: slategrey;
  margin-bottom: 5px;
  /* border-radius: 50px; */
}
.movie li {
  transition: all 250ms ease;
  scale: 0.95;
  /* display: flex; */
  /* position: relative; */
}

h4 {
  padding: 10px;
  text-align: center;
  background-color: rgb(0 0 0 / 40%);
}

.movie li:hover {
  transition: all 250ms ease;
  scale: 1;
  cursor: pointer;
  /* display: flex; */
  /* position: relative; */
}

.poster {
  /* position: absolute;
  top: 0;
  left: 0;
  z-index: -1; */
}

.selectedMovie {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  margin: 0;
  text-align: center;
  color: white;
  background-color: green;
  border-radius: 0 0 0 10px;
}

.inactive {
  display: none;
}