/* VideoList.css */
.movieList {
  padding: 0 5px ;
  margin-top: 20px;
  text-align: justify;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33%;
}

.movieCard {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.045);
  border-radius: 10px;
  opacity: 0.7;
  -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.movieCard:hover {
  background-color: rgba(255, 255, 255, 0.121);
  opacity: 1;
}

.movieCardContent {
  display: flex;
  flex-direction: column;

}
.movieCard img {
  width: 100px;
}

.movieCard img:hover {
  cursor: pointer;
}

.videoName {
  height: auto;
  overflow-wrap: break-word;
  hyphens: auto;
  white-space: pre-wrap;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: auto;
    /* -webkit-line-clamp: auto; */
  -webkit-box-orient: vertical;
  
}

.videoName {
  padding: 5px;
    font-size: 0.7rem;
    background-color: #ffffff1a;
  cursor: pointer;
}

.isSub {
  color: yellow;
  text-shadow: 1px 1px 5px #000;
}

.deleteBtn {
  width: 100%;
    margin: 0;
    padding: 5px;
  color: white;
  background-color: rgb(161, 68, 86);
    font-size: 1rem;
    opacity: 0.2;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.deleteBtn:hover {
  cursor: pointer;
  color: white;
  opacity: 0.6;
}